# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/
*.pyc

# Node
node_modules/
dist/
dist-ssr/
*.local
frontend/dist/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
backend/logs/
*.log
